/* FONTES */
/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

/* garamond */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'garamond', sans-serif;
  scroll-behavior: smooth;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--fuschia);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--void);
}

/* VARIAVEIS CORES */
:root {
  --void: #0d0625;
  --void2: #1f0f53;
  --fuschia: #f5c322;
  --jewel: #531dd9;
  --stark: #e9e2e2;
}

.content {
  width: 100%;
  min-height: 100vh;
  background-color: var(--void);
  margin-top: 0px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  align-items: center;
}

#header {
  width: 100%;

  align-items: center;
  background-color: var(--void2);
  position: fixed;
  z-index: 100;
  color: var(--stark);
  margin-bottom: 0px;
}

#header .title {
  font-weight: 600;
  font-size: 32px;
}

#header span {
  color: var(--fuschia);
}

.navLista {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  padding: 0;
  width: 200px;
  list-style-type: none;
}

.navLista a {
  text-decoration: none;
  color: var(--stark);
}

.caLogin .agora {
  color: var(--fuschia);
}

.caLogin a {
  text-decoration: none;
}

.caLogin a:nth-child(2) {
  text-align: center;
  margin-left: 5px;
  margin-top: 5px;
  color: var(--stark);
}

.caLogin {
  display: flex;
  justify-content: space-between;
}

.caLogin ion-icon {
  margin: 0;
  padding: 0;
  height: 20px;
  color: var(--fuschia);
  cursor: pointer;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #f09819 0%,
    #edde5d 51%,
    #f09819 100%
  );
  font-family: 'garamond', sans-serif;
}

.btn-grad {
  width: 300px;
  padding: 5px 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;

  border-radius: 10px;
  display: block;
  transition: 1s;
}

.btn-grad:hover {
  background-position: right center;
  color: var(--void);
  text-decoration: none;
}

.banner {
  background-image: url('../assets/img/coruja-bonita-wallpaper.jpg');
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;

  /* filter: brightness(50%); */
}

.boxLogin {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: space-around;

  height: 100%;
  width: 250px;
  background-color: var(--void2);
  margin-left: 150px;
  position: absolute;
  transition: 1s;
  color: var(--stark);
}
.boxLogin .descBemVindo {
  margin-top: 15px;
}
.boxLogin #b_usuario,
#escolha {
  color: var(--fuschia);
  text-transform: uppercase;
}

.boxLogin .card {
  margin-left: 10px;
}

.boxLogin .bannerChale {
  background-image: url('../assets/img/chaleAtena.jpg');
  background-size: cover;
  height: 150px;
  border-radius: 7px;
  margin-top: 25px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  width: 80%;
}

form input {
  margin-top: 15px;
  outline: none;
  border: 0;
  padding: 8px;
  border-bottom: 1px solid var(--fuschia);
  background-color: transparent;
  transition: all 0.2s ease;
}

.boxLogin h2 {
  margin-top: 15px px;
  color: var(--fuschia);
}

.card.login .h2 {
  width: 19rem;
}

.card.login form input {
  font-size: 16px;
  font-family: poppins, sans-serif;
}

.card.login form input::placeholder {
  color: var(--stark);
  position: relative;
  bottom: 0.5rem;
}

form label {
  margin-top: 5px;
}

form button {
  margin: 3rem auto;
  background-image: linear-gradient(
    to right,
    #f09819 0%,
    #edde5d 51%,
    #f09819 100%
  );
  background-size: 200% auto;
  color: rgb(255, 255, 255);
  padding: 8px;
  width: 80%;
  height: 3rem;
  align-self: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 500;
  transition: 0.5s;
}

form button:hover {
  margin: 3rem auto;
  background-position: right center;
  color: var(--void2);
  padding: 8px;
  width: 80%;
  align-self: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 500;

  text-shadow: #2f2f2f;
}

form a {
  text-decoration: none;
  color: var(--fuschia);
}

form p {
  color: var(--stark);
  font-size: 14px;
  margin-top: 0px;
  margin-left: 10%;
  padding: 0px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

.card.chart {
  padding: 5px 5px 5px 5px;
  display: flex;
  border-radius: 10px 10px 0 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50%;
  width: 350px;
  background-color: var(--void2);
  margin-left: 600px;
  position: absolute;
  transition: 1s;
  bottom: 0;
}

.card.chart1 {
  padding: 5px 5px 5px 5px;
  display: flex;
  border-radius: 10px 10px 0 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50%;
  width: 350px;
  background-color: var(--void2);
  margin-left: 980px;
  position: absolute;
  transition: 1s;
  bottom: 0;
}
.card.chart .chartJS {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--stark);
  height: 250px;
  width: 100%;
}
.card.chart .desc {
  color: var(--fuschia);
  font-weight: bold;
  font-size: medium;
}

.card.chart1 .chartJS {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--stark);
  height: 250px;
  width: 100%;
}
.card.chart1 .desc {
  color: var(--fuschia);
  font-weight: bold;
  font-size: medium;
}

.imgPerso {
  background-image: url('../assets/img/Annabeth_Chase-Viria-removebg-preview.png');
  background-size: cover;
  height: 550px;
  width: 350px;
  position: relative;

  bottom: -70px;
  margin-left: 320px;
}

.footer {
  width: 100%;
  height: 5rem;
  background-color: var(--void2);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}
